<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>976257833312-epnd33t04tkbfukidtvv3qli9flcnpfc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976257833312-epnd33t04tkbfukidtvv3qli9flcnpfc</string>
	<key>API_KEY</key>
	<string>AIzaSyAlYXhZlXOpmECxh-dIsR2ykYSZkdYKu8U</string>
	<key>GCM_SENDER_ID</key>
	<string>976257833312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>chat.homehealth4u.app</string>
	<key>PROJECT_ID</key>
	<string>homehealth4u-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>homehealth4u-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:976257833312:ios:ad80c73b8f4c9d557a6605</string>
</dict>
</plist>
